<h1>Using Forms</h1>


<form>

<div>
  <label>Sign</label>
  <input name="symbol" type="text">
</div>

<div>
  <label>Creature</label>
  <input name="animal" type="text">
</div>


<div>
  <label>ID</label>
  <input name="the_id" type="text">
</div>




<p></p>
<button>Submit</button>

</form>
